h1 {
	text-align: center;
	// text-decoration: underline;
	font-style: italic;
	padding-bottom: 50px;
}

h2 {
	// text-decoration: underline;
	font-style: italic;
	padding-left: 20px;
	font-size: 1.25rem;
	background-color: grey;
	color: silver;
}

h3 {
	text-align: left;
	text-decoration: underline;
	font-style: italic;
	padding-left: 20px;
}

main {
	// border: 2px solid black;
	border-radius: 50px 20px;
	// overflow: hidden;
}

body {
	background-color: silver;
}

footer {
	padding-top: 20px;
	font-size: 10px;
}

p {
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

dl {
	display: flex;
}

dt {
	padding-left: 20px;
	min-width: 130px;
	font-weight: bold;
}

dd {
	padding-right: 20px;
}

.lista {
	list-style-type: none;

}